.modal {
  ul {
    list-style: disc;
    padding-inline-start: 30px;
    text-align: left;
    font-size: 0.875rem;
  }

  .checkArea {
    margin-top: 1rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 500;

    .checkbox {
      cursor: pointer;
    }

    label {
      cursor: pointer;
    }
  }
}
