auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@eslint/*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@rushstack/eslint-patch
