.caution-content {
  padding: 1.5rem 2rem;
  color: #4a495c;

  h4 {
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  p {
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  button {
    margin-top: 1.5rem;
  }
}
