.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 460px;
  padding: 1.5rem 2rem;

  .input-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
  }
}
