@use '../../../styles/utils.scss' as *;

.apply-aside {
  display: none;
  width: 0px;

  @media screen and (min-width: $screen-lg) {
    position: sticky;
    top: 7rem;
    display: block;
    width: 350px;
  }

  .scrollable-box {
    padding-right: 4px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &.scrolling::-webkit-scrollbar-thumb {
      background: #a5a1fa;
      border-radius: 16px;
    }
  }

  .apply-aside-content {
    .aside-inner-content {
      h3 {
        font-size: 0.875rem;
      }

      h2 {
        font-size: 1.375rem;
        font-weight: 500;
      }

      button {
        border-radius: 0.25rem;
        background: #6963f6;
        color: white;
        width: 100%;
        padding: 0.75rem 0;
        font-size: 0.75rem;
        font-weight: 500;

        &.disabled {
          background-color: #a5a1fa;
          cursor: auto;
        }
      }
    }
  }
}
