.section {
  padding: 2.5rem 0;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    467.82% 182.52% at 1.04% -36.12%,
    #9762f5 0%,
    #6963f6 100%
  );
}
