.program-card {
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: 18.75rem;
    background-color: #f1f4f9;
    border-radius: 0.5rem;
    padding: 1.75rem;
    word-break: keep-all;

    .card-top {
      h2 {
        color: #6963f6;
        font-size: 0.875rem;
        font-weight: 500;
      }

      h3 {
        color: #4a495c;
        font-size: 1.25rem;
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 0.5rem;
      }
    }

    .card-bottom {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: 0.8125rem;
      color: #4a495c;

      .card-bottom-item {
        display: flex;
        flex-direction: column;

        strong {
          font-weight: 600;
        }
      }
    }
  }
}

.mypage-card {
  display: flex;
  flex-direction: column;
  background-color: #f1f4f9;
  border-radius: 0.5rem;
  width: 15rem;
  aspect-ratio: 3/4;
  padding: 1.75rem 2rem;
  cursor: pointer;

  .card-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .badge {
      border-radius: 0.25rem;
      background-color: #36337f;
      color: #ffffff;
      font-size: 0.75rem;
      padding: 0.125rem 0.5rem;
    }
  }

  .card-body {
    flex-grow: 1;

    h2 {
      margin-top: 0.5rem;
      font-size: 1.375rem;
      font-weight: 500;
      word-break: keep-all;
    }
  }

  .card-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .date-group {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: 0.75rem;

      .date {
        color: #4a495c;

        h3 {
          font-weight: 500;
        }
      }
    }

    .link {
      display: block;
      text-decoration: underline;
      color: #a5a5a5;
      text-align: end;
      font-size: 0.875rem;
    }
  }
}
