@use '/src/styles/utils.scss' as *;

.row {
  display: flex;
  gap: 1rem;

  .item {
    display: flex;
    gap: 1rem;
  }

  &:nth-child(1) {
    .item {
      animation: 60s slide-right linear infinite;

      @keyframes slide-right {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(1rem);
        }
      }
    }
  }

  &:nth-child(2) {
    .item {
      animation: 60s slide-left linear infinite;

      @keyframes slide-left {
        from {
          transform: translateX(1rem);
        }
        to {
          transform: translateX(-100%);
        }
      }
    }
  }
}
