@use '../../../styles/utils.scss' as *;

.feature-section {
  @include responsive;

  .feature-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .feature-item {
      min-height: 10rem;
      color: #ffffff;
      border-radius: 0.5rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 1.25rem;
        font-weight: 500;
      }

      p {
        font-weight: 300;
      }
    }

    .row:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @media screen and (min-width: $screen-sm) {
        flex-direction: row;
      }

      .feature-item:nth-child(1) {
        flex: 2;
        background-color: #5854d1;
      }

      .feature-item:nth-child(2) {
        flex: 1;
        background-color: #4743a8;
      }
    }

    .row:nth-child(2) {
      .feature-item {
        background-color: #242357;
      }
    }
  }
}
