@use '../../../styles/utils.scss' as *;

.review-section {
  background-color: #232233;
  overflow: hidden;
  padding: 3rem 0;

  .section-title {
    @include responsive;
    color: #ffffff;
  }

  .bottom-content {
    margin-top: 2rem;

    .review-group {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      .row {
        display: flex;
        gap: 1.25rem;
        white-space: nowrap;

        .review {
          background-color: #ffffff;
          border-radius: 0.5rem;
          min-width: 12rem;
          width: 100%;
          height: 12rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1.5rem;

          p {
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.8;
          }

          figure {
            color: #969799;
            width: 100%;
            text-align: left;
          }
        }

        &:nth-child(1) {
          transform: translateX(-240px);

          .review {
            animation: slide-right 20s linear infinite;

            @keyframes slide-right {
              0% {
                transform: translateX(100%);
              }
              100% {
                transform: translateX(-100%);
              }
            }
          }
        }

        &:nth-child(2) {
          transform: translateX(-150px);

          .review {
            animation: slide-left 20s linear infinite;

            @keyframes slide-left {
              0% {
                transform: translateX(-100%);
              }
              100% {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }
  }
}
