@use '../../../styles/utils.scss' as *;

.review-section {
  background-color: #232233;
  overflow: hidden;
  padding: 1.5rem 1.5rem;

  .section-title {
    max-width: $screen-lg;
    margin: 0 auto;
    color: #ffffff;
  }

  .bottom-content {
    &.review-container {
      margin-top: 1.5rem;
    }

    .review-group {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      .row {
        display: flex;
        gap: 1rem;

        .row-item {
          display: flex;
          gap: 1rem;

          .review {
            background-color: #ffffff;
            border-radius: 0.5rem;
            min-width: 12rem;
            width: 100%;
            height: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5rem;

            p {
              font-size: 0.875rem;
              font-weight: 500;
              line-height: 1.8;
            }

            figure {
              color: #969799;
              width: 100%;
              text-align: left;
            }
          }
        }

        &:nth-child(1) {
          .row-item {
            animation: 60s slide-right linear infinite;

            @keyframes slide-right {
              from {
                transform: translateX(-100%);
              }
              to {
                transform: translateX(1rem);
              }
            }
          }
        }

        &:nth-child(2) {
          .row-item {
            animation: 60s slide-left linear infinite;

            @keyframes slide-left {
              from {
                transform: translateX(1rem);
              }
              to {
                transform: translateX(-100%);
              }
            }
          }
        }
      }
    }
  }
}
