.program-detail {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  margin: 0 auto;

  main {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    article {
      flex: 1;
    }
  }

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 1080px) {
    max-width: 1080px;
  }
}
