.bottom-section {
  height: 7rem;
  background-color: #232233;
  display: flex;
  justify-content: center;
  align-items: center;

  .next-link-button {
    color: #ffffff;
    font-size: 0.875rem;
    border: 0.5px solid #ffffff;
    border-radius: 0.25rem;

    a {
      display: block;
      padding: 0.125rem 1rem;
    }
  }
}
