@use '../../../styles/utils.scss' as *;

.end-section {
  background: radial-gradient(
    467.82% 182.52% at 1.04% -36.12%,
    #9762f5 0%,
    #6963f6 100%
  );
  padding: 2.5rem 0;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
