@use '../../../styles/utils.scss' as *;

section.top-section {
  height: 20rem;
  background: radial-gradient(
    169.55% 102.08% at 19.76% 25.8%,
    #9762f5 0%,
    #9762f5 29.68%,
    #6963f6 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
  }
}
