.homepage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5rem;

  section {
    h2.section-title {
      font-size: 1.75rem;
      font-weight: 600;

      &.small-text {
        font-size: 1.5rem;
      }
    }

    .bottom-content {
      margin-top: 1.25rem;
    }
  }
}
