@use './utils.scss';

.news-section {
  $breakpoint-37_75rem: 37.75rem;
  $breakpoint-768px: 768px;
  $breakpoint-1080px: 1080px;

  @include utils.responsive;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-768px) {
    flex-direction: row;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media (min-width: $breakpoint-37_75rem) {
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-768px) {
      flex: 1;
      margin: 0 auto;
      align-items: center;
    }

    .text-content {
      width: 100%;

      @media (min-width: $breakpoint-37_75rem) {
        width: 30rem;
      }

      @media (min-width: $breakpoint-768px) {
        width: 20rem;
      }

      p {
        margin-top: 0.5rem;
        font-size: 1.25rem;
      }
    }
  }

  .right {
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;

    @media (min-width: $breakpoint-37_75rem) {
      margin-top: 2rem;
      width: 30rem;
    }

    @media (min-width: $breakpoint-768px) {
      margin-top: 0rem;
      padding-right: 3rem;
    }

    form {
      .input-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0 auto;

        input {
          border-bottom: 1px solid #cccbcb;
          outline: none;
          padding-bottom: 0.75rem;
          margin: 0 0.75rem;

          &:focus {
            border-bottom: 1.5px solid #6963f6;
            margin-bottom: -0.5px;
          }
        }

        textarea {
          border: 1px solid #cccbcb;
          outline: none;
          resize: none;
          padding: 0.5rem 0.75rem;
          border-radius: 0.25rem;

          &:focus {
            border: 1.5px solid #6963f6;
            margin: -0.5px;
          }
        }
      }
    }
  }
}
