.login {
  margin-top: 2rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
    }
  }
}
