@use '../../styles/utils.scss' as *;

.header {
  height: 27rem;
  overflow: hidden;
  background: radial-gradient(
    169.55% 102.08% at 19.76% 25.8%,
    #9762f5 0%,
    #9762f5 29.68%,
    #6963f6 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 6rem;

  .whiteBoxGroup {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .whiteBox {
      width: 20rem;
      height: 1.75rem;
      background-color: #ffffff;
      border-radius: 9999px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;
      color: #4b3885;
      font-weight: 500;

      &:nth-child(1) {
        position: relative;
        top: 0px;
        left: -67px;
        background: rgba(255, 255, 255, 0.1);
        filter: blur(4.9px);
      }

      &:nth-child(2) {
        position: relative;
        top: 0px;
        left: 7px;
        background: rgba(255, 255, 255, 0.08);
        filter: blur(9.15px);
      }

      &:nth-child(3) {
        position: relative;
        top: -10px;
        left: 145px;
        width: 22rem;

        @media screen and (min-width: $screen-sm) {
          left: 89px;
        }
      }

      &:nth-child(4) {
        position: relative;
        top: 4px;
        left: -93px;
        background: rgba(255, 255, 255, 0.2);
        filter: blur(2.15px);
        height: 2.25rem;
      }

      &:nth-child(5) {
        position: relative;
        top: 0px;
        left: 70px;
        background: rgba(255, 255, 255, 0.2);
        filter: blur(2.13px);
        height: 2.125rem;
      }

      &:nth-child(6) {
        position: relative;
        top: 10px;
        left: -136px;

        @media screen and (min-width: $screen-sm) {
          left: -57px;
        }
      }

      &:nth-child(7) {
        position: relative;
        top: -12px;
        left: -57px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      &:nth-child(8) {
        position: relative;
        top: 0px;
        left: 58px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        height: 2.125rem;
      }
    }
  }

  h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
  }
}
