@use '../../../../styles/utils.scss' as *;

.section {
  background-color: #232233;
  color: #ffffff;
  padding: 3rem 1.5rem;

  .content {
    max-width: $screen-sm;
    margin: 0 auto;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }

    .resultArea {
      .scoreGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.25rem;
        margin-top: 3rem;

        @media screen and (min-width: $screen-xs) {
          gap: 1.375rem;
        }

        .score {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.125rem;
          flex: 1;
          padding-top: 1rem;
          padding-right: 0;
          border-top: 0.5px solid #ffffff;

          @media screen and (min-width: $screen-sm) {
            width: 7rem;
            align-items: start;
            flex: none;
          }

          span {
            font-size: 0.75rem;

            @media screen and (min-width: $screen-xs) {
              font-size: 0.875rem;
            }

            @media screen and (min-width: $screen-sm) {
              font-size: 1rem;
            }
          }

          strong {
            font-size: 1.125rem;
            font-weight: 700;

            @media screen and (min-width: $screen-xs) {
              font-size: 1.375rem;
            }

            @media screen and (min-width: $screen-sm) {
              font-size: 2rem;
            }
          }
        }
      }
    }

    .partnerArea {
      margin-top: 5rem;

      .partnerGroup {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 3rem;

        .partner {
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 5rem;

          &.impactCareer,
          &.disquiet {
            img {
              height: 1.25rem;
            }
          }

          &.seongdongOrang {
            background-color: #01a589;
          }

          &.triangleCl {
            background-color: #000000;
          }

          img {
            height: 1.75rem;
          }
        }
      }
    }
  }
}
