.content {
  .top {
    padding: 3rem 2rem;
    text-align: center;

    h3 {
      font-size: 1.125rem;
    }

    p {
      margin-top: 0.25rem;
      font-size: 0.875rem;
      color: #4a495c;
    }
  }
}
