.login-page {
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 640px) {
    max-width: 28rem;
  }

  header {
    h1 {
      margin-top: 3rem;
      margin-bottom: 2rem;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      width: 100%;
    }

    .error-alert {
      text-align: center;
      font-size: 0.875rem;
      font-weight: 500;
      color: #dc2626;
    }
  }

  .bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
