@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      'Pretendard Variable',
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      sans-serif;
    box-sizing: border-box;
  }

  .text-2\.25-bold {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.375rem;
  }

  .text-2\.25-semibold {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.375rem;
  }

  .text-2-bold {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.75rem;
  }

  .text-1\.75-bold {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.5rem;
  }

  .text-1\.75-semibold {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.5rem;
  }

  .text-1\.75-medium {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.75rem;
  }

  .text-1\.625-semibold {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 2.25rem;
  }

  .text-1\.625-medium {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 2.25rem;
  }

  .text-1\.625-light {
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 2.25rem;
  }

  .text-1\.5-bold {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
  }

  .text-1\.5-semibold {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
  }

  .text-1\.5-medium {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.125rem;
  }

  .text-1\.5-light {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.125rem;
  }

  .text-1\.375-semibold {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 2.125rem;
  }

  .text-1\.375-medium {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.875rem;
  }

  .text-1\.375-light {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.875rem;
  }

  .text-1\.375-thin {
    font-size: 1.375rem;
    font-weight: 200;
    line-height: 1.875rem;
  }

  .text-1\.25-bold {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem;
  }

  .text-1\.25-medium {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
  }

  .text-1\.25 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
  }

  .text-1\.25-light {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.875rem;
  }

  .text-1\.125-bold {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
  }

  .text-1\.125-semibold {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  .text-1\.125-medium {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
  }

  .text-1\.125 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .text-1\.125-light {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

  .text-1-bold {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
  }

  .text-1-semibold {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
  }

  .text-1-medium {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
  }

  .text-1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
  }

  .text-1-light {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.625rem;
  }

  .text-0\.875-semibold {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
  }

  .text-0\.875-medium {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.375rem;
  }

  .text-0\.875 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }

  .text-0\.875-light {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
  }

  .text-0\.75-bold {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.125rem;
  }

  .text-0\.75-semibold {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.125rem;
  }

  .text-0\.75-medium {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.125rem;
  }

  .text-0\.75 {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.125rem;
  }
}

body.non-scroll {
  overflow: hidden;
  padding-right: 1rem;
}

/* 모바일 환경 */
@media (hover: none) and (pointer: coarse) {
  body.non-scroll {
    padding-right: inherit;
  }
}

/* PC 환경 */
@media (hover: hover) and (pointer: fine) {
  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 8px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #c2c2c2;
      border-radius: 24px;
    }
  }
}

.Collapsible__title > div {
  margin: 0;
}

.image-caption-container > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input number 화살표 없애기 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

.invisible-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply hidden h-10 w-10 items-center justify-center rounded-full border border-neutral-80 bg-white/75 md:flex !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-small20 font-bold text-white !important;
}

.swiper-button-prev::after {
  @apply -ml-1;
}

.swiper-button-next::after {
  @apply -mr-1;
}

.swiper-button-disabled,
.swiper-button-disabled {
  @apply opacity-70 !important;
}

.swiper-wrapper {
  @apply gap-y-12 !important;
}
.swiper-vertical > .swiper-wrapper {
  @apply gap-y-0 !important;
}

.slide-per-auto .swiper-slide {
  width: auto !important;
}

.slide-per-auto-vertical .swiper-slide {
  height: auto !important;
}

.slide-rolling .swiper-wrapper {
  transition-timing-function: linear;
}

.speech-bubble {
  position: relative;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0.5px;
  top: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: var(--after-border-color);
  border-left: 0;
  margin-top: -5px;
  margin-left: -5px;
}

/* MUI Snackbar 메시지 스타일 */
.MuiSnackbarContent-message {
  font-family: 'Pretendard Variable', '-apple-system', 'BlinkMacSystemFont',
    'system-ui', 'Roboto', 'sans-serif';
}
