.card {
  width: 100%;
  border: 1.5px solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 2rem 1rem 2.5rem 1rem;
  color: #9a99a4;
  text-align: center;
  cursor: pointer;

  .title {
    margin-top: 0.5rem;
    word-break: keep-all;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
