@use '../../styles/utils.scss' as *;

.program-detail {
  width: 100%;
  min-height: 100vh;
  padding: 0 1.5rem;

  .content {
    max-width: $screen-lg;
    margin: 0 auto;

    main {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      padding-top: 1rem;

      article {
        flex: 1;
      }
    }
  }
}
