.main {
  .filterWrapper {
    margin-bottom: 1rem;
  }

  .loading {
    text-align: center;
    height: 100vh;
  }

  .empty {
    text-align: center;
    padding: 1rem 0;
  }

  .pagination {
    margin-top: 1rem;
  }
}
