@use '/src/styles/utils.scss' as *;

.background {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(7, 6, 6, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .modal {
    width: 500px;
    background-color: white;
    border-radius: 0.75rem;
    overflow: hidden;
    cursor: auto;

    .top {
      padding: 2rem;
    }
  }
}

.aside {
  display: none;
  width: 0px;

  @media screen and (min-width: $screen-lg) {
    position: sticky;
    top: 7rem;
    display: block;
    width: 350px;
  }

  .content {
    .inner {
      border-radius: 0.75rem;
      background: white;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
      color: #4a495c;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }
}
